<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Cadastrar pergunta</mat-label>
      <input matInput placeholder="" value="">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Categoria</mat-label>
      <mat-select>
        <mat-option value="one">Backend</mat-option>
        <mat-option value="two">Frontend</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="example-form-fields">

    <mat-form-field class="example-full-width">
        <mat-label>Cadastrar resposta</mat-label>
        <input matInput placeholder="" value="">
      </mat-form-field>

    <mat-form-field>
        <mat-label>Opção correta</mat-label>
        <mat-select>
          <mat-option value="one">Correta</mat-option>
          <mat-option value="two">Errada</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div class="example-form-fields">

      <mat-form-field class="example-full-width">
          <mat-label>Cadastrar resposta</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
  
      <mat-form-field>
          <mat-label>Opção correta</mat-label>
          <mat-select>
            <mat-option value="one">Correta</mat-option>
            <mat-option value="two">Errada</mat-option>
          </mat-select>
        </mat-form-field>
  
      </div>

      
    <div class="example-form-fields">

      <mat-form-field class="example-full-width">
          <mat-label>Cadastrar resposta</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
  
      <mat-form-field>
          <mat-label>Opção correta</mat-label>
          <mat-select>
            <mat-option value="one">Correta</mat-option>
            <mat-option value="two">Errada</mat-option>
          </mat-select>
        </mat-form-field>
  
      </div>
      <div class="example-form-fields">
  
        <mat-form-field class="example-full-width">
            <mat-label>Cadastrar resposta</mat-label>
            <input matInput placeholder="" value="">
          </mat-form-field>
    
        <mat-form-field>
            <mat-label>Opção correta</mat-label>
            <mat-select>
              <mat-option value="one">Correta</mat-option>
              <mat-option value="two">Errada</mat-option>
            </mat-select>
          </mat-form-field>
    
        </div>
  

</form>
  