<div *ngIf="question">
  

  <mat-card-header>

    <mat-card-title>
       <label id="example-radio-group-label">{{question.descricao}}</label>
    </mat-card-title>

  </mat-card-header>

<mat-card-content>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

<mat-radio-group formControlName="selected" aria-labelledby="example-radio-group-label" class="example-radio-group" required>

  @for (answer of question.answers; track answer) {

    <mat-radio-button class="example-radio-button" [id]="answer.id" [value]="answer.id">
      {{answer.descricao}}
    </mat-radio-button>

  }
  
  <div *ngIf="formGroup.get('selected')?.invalid && (formGroup.get('selected')?.dirty)">
    Name is required.
  </div>
  <p>Value: {{ formGroup.value.selected }}</p>

</mat-radio-group>

<button type="submit" [disabled]="!formGroup.valid" mat-raised-button color="primary">Próxima</button>

</form>

</mat-card-content>
</div>








